
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <header class="container-fluid">
    </header>
    <section  class="container-fluid">
    </section>
    <footer class="container-fluid">
    </footer>
        <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>

