
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
    <title>ModernUITraining</title>
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-default">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LearnDev</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#courses">Courses</a></li>
                        <li><a href="#articles">Articles</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <section  class="container-fluid">
        <div class="row">
            <aside class="col-md-3 col-md-push-7">ITEMS</aside>
            <aside class="col-md-7 col-md-pull-3">PROFILE</aside>
            <aside class="col-md-2 friends">FRIENDS
            <h2>FRIENDS</h2>
            <div class="friend">
                <div class="img-circle friend-initials">BG</div>
                <div class="friend-name">Balaji Gopal</div>
                <div class="friend-details">
                    <div>12 courses taken</div>
                    <div>10 articles reviewed</div>
                </div>                
            </div>
                <div class="friend">
                    <div class="img-circle friend-initials">AB</div>
                    <div class="friend-name">Aman Beg</div>
                    <div class="friend-details">
                        <div>14 courses taken</div>
                        <div>9 articles reviewed</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer class="container-fluid">&copy; Copyright 2016
    </footer>
        <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>

